doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script google.charts.load('current', {'packages':['corechart']})
    script(src="/javascripts/main.js")

  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand Quiz 4 Cloud
    h1 Deeksha Bhat - 1001174031
    .container
    block content
    
    
